@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--cds-neutral-font-heading-family);
  background-color: var(--cds-cegal-dark-background-color);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: "";
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
  transform-origin: center;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: white;
  transform: scaleX(1);
}

.imageContainer {
  height: 30rem;
  margin: auto;
}

.imageContainer-short {
  height: 20rem;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  /* For progress: box-shadow: 0 -100vh 0 100vh #0084FF, 0 0 0px 0px black; */
  background: #686868;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
