.hamburger {
  cursor: pointer;
  width: 24px;
  height: 16px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  background: white;
  transform: rotate(0);
  transition: all 0.3s;
}

.hamburger-middle {
  transform: translateY(7px) scaleX(1);
  transition: transform 0.2s ease;
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  /* display: none; */
  transform: translateY(7px) scaleX(0);
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
